* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-block: 8px;
  padding-inline: 128px;
  background-color: #1f2937;
}
header p {
  color: #f9faf8;
  font-size: 24px;
}
header ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
}
header ul a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

.hero-text {
  display: flex;
  justify-content: space-between;
  padding-block: 96px;
  padding-inline: 128px;
  background-color: #1f2937;
}
.hero-text h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}
.hero-text p {
  margin-bottom: 8px;
  color: #e5e7eb;
  font-size: 18px;
}
.hero-text a {
  border-radius: 8px;
  padding-block: 4px;
  padding-inline: 16px;
  background-color: #3882f6;
  color: #fff;
  text-decoration: none;
}

.images-list {
  text-align: center;
}
.images-list h2 {
  margin: 36px;
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}
.images-list div {
  margin-bottom: 64px;
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  justify-content: center;
}
.images-list figure {
  width: 150px;
}
.images-list img {
  border-color: #3882f6;
  border-radius: 8px;
  border-style: solid;
}

.block-quote blockquote {
  padding-block: 128px;
  padding-inline: 256px;
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
}
.block-quote cite {
  display: block;
  margin-left: auto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-align: end;
}
